
body {
  font-family: 'Raleway';
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  font-family: 'Volkorn';
  font-style: italic;
  font-weight: inherit;
}

/* Navbar Styles */
.nav-container {
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 5;
  background: white;
  box-shadow: 2px 2px 5px grey;
  transition: opacity .15s ease;
  opacity: 1;
}

.nav-container.hide {
  opacity: 0;
}

.navbar {
  height: 60px;
  transition: height .2s ease;
}

.navbar.open {
  /* height: 20em; */
}

.logo-container {
  height: 60px;
}

.navbar img {
  height: 40px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.logo-container h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #2b4162;
  font-size: 20px;
}

.navbar .menu-button {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

.navbar .navMenu {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar nav {
  margin-bottom: 10px;
}

.navbar h4 {
  text-align: center;
  line-height: 2.5;
  margin: 0;
}

/* Page Content Styles */
#content {
  /* margin-top: 70vh; */
}
