
body {
  font-family: 'Raleway';
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  font-family: 'Volkorn';
  font-style: italic;
  font-weight: inherit;
}

/* Navbar Styles */

.navbar {
  height: 60px;
}

.navbar.tall {
  height: 45vh;
}

.navbar img {
  position: relative;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
  max-height: 80px;
}



/* Page Content Styles */
