
body {
  font-family: 'Raleway';
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  font-family: 'Volkorn';
  font-style: italic;
  font-weight: inherit;
}

/* Navbar Styles */
.nav-container {
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 5;
  background: white;
  box-shadow: 2px 2px 5px grey;
}

.navbar {
  height: 60px;
}

.logo-container {
  height: 60px;
}

.navbar img {
  height: 50px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.navbar .menu-button {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

.navbar h4 {
  text-align: center;
  line-height: 2.5
}

.navbar.open {
  height: auto;
}

/* Page Content Styles */
#content {
  margin-top: 70vh;
}
