
body {
  font-family: 'Lato';
  line-height: 1.5em;
}

h1,
h2,
h3,
h4 {
  font-family: 'Raleway';
}

/* Navbar Styles */

.navbar {
  height: 60px;
}

.navbar.expanded {
  height: 30vh;
}

.navbar img {
  position: relative;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
  max-height: 80px;
}



/* Page Content Styles */

#content .banner {
  height: 40vh;
  background-color: #2b4162;
  background-image: url("images/seigaiha.00b22e9ea40e.png");
}
