<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Z.J.Swanson</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base/bootstrap-reboot.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'base/bootstrap-grid.min.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Raleway|Volkorn" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'base/base-styles.css' %}" />
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    {% block head_styles %}
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
    <div class="container-fluid nav-container">
      <div class="navbar row">
        <div class="logo-container col-xs-12 col-sm-4">
          <!-- <button type="button" name="work">Work with Me</button> -->
          <img src="{% static 'base/logotype.svg'%}" alt="logotype">
          <i class="menu-button d-xs-block d-sm-none">X</i>
        </div>
        <div class="col-xs-12 col-sm-8 align-self-center">
          <div class="row align-items-center">
            <nav class="col-sm col-xs-12">
              <h4 >about</h4>
            </nav>
            <nav class="col-sm col-xs-12">
              <h4>resume</h4>
            </nav>
            <nav class="col-sm col-xs-12">
              <h4>projects</h4>
            </nav>
            <nav class="col-sm col-xs-12">
              <h4>projects</h4>
            </nav>
          </div>
        </div>



      </div>
    </div>
    {% endblock %}
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <script src="{% static 'base/js/base.js' %}"></script>
    {% block footer_script %}
    {% endblock %}
  </body>
</html>
