{% extends "base/base.html" %}

{% block head_styles %}
{%load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'resume/resume-styles.css' %}" />
{% endblock %}

{% block content %}
<div class="container-fluid" hidden>
  <div class="display-header row align-items-center {% if navbar_tall %}tall{% endif %}">
    <nav class="col-sm-4">
      <!-- <button type="button" name="work">Work with Me</button> -->
      <h4 class="header-contact">zach.j.swanson@gmail.com</h4>
    </nav>
    <nav class="col-sm-4">
      <img src="{% static 'base/logotype.svg'%}" alt="logotype">
    </nav>
    <div class="col-sm-4">
      <div class="row">
        <nav class="col-4">
          <h4 >about</h4>
        </nav>
        <nav class="col-4">
          <h4>resume</h4>
        </nav>
        <nav class="col-4">
          <h4>projects</h4>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 banner">
       <div class="banner-text">
         <h3>Zach j Swanson</h3>
         <h1>Web Application Developer</h1>
       </div>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>This is wider content.  It should take up more space.  But it is also test content meant to test things. but how does this look with a bunch of text.  Like lots of it.  Text all over the place. typey type type.  Hey, what are you up do? anything cool?  Just reading a website, huh?</p>
    </div>
  </div>
</div>
{% endblock %}
