{% extends "base/base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h1>This is a test</h1>
      <p>this is test content</p>
    </div>
    <div class="col-md-9">
      <p>This is wider content.  It should take up more space.  But it is also test content meant to test things. but how does this look with a bunch of text.  Like lots of it.  Text all over the place. typey type type.  Hey, what are you up do? anything cool?  Just reading a website, huh?</p>
    </div>
  </div>
</div>
{% endblock %}
