{% extends "base/base.html" %}

{% block head_styles %}
{%load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'resume/resume-index.css' %}" />
{% endblock %}

{% block content %}
<div class="container-fluid d-none d-sm-block" >
  <div class="display-header row align-items-center">
    <nav class="col-sm-4">
      <!-- <button type="button" name="work">Work with Me</button> -->
      <a href="mailto:zach.j.swanson@gmail.com"><h4 class="header-contact">zach.j.swanson@gmail.com</h4></a>
    </nav>
    <nav class="col-sm-4">
      <a href="{% url 'resume:index' %}"><img src="{% static 'base/logotype.svg'%}" alt="logotype"></a>
    </nav>
    <div class="col-sm-4">
      <div class="row">
        <nav class="col-4">
          <h4><a href="{% url 'resume:resume' %}">about</a></h4>
        </nav>
        <nav class="col-4">
          <h4><a href="{% url 'resume:resume' %}">resume</a></h4>
        </nav>
        <nav class="col-4 contact">
          <a href="https://github.com/zjswanson" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/zach-swanson/" target="_blank"><i class="fab fa-linkedin"></i></a>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid banner-container">
  <div class="row">
    <div class="col-xs-12 banner">
       <div class="banner-text">
         <h3>Zach j Swanson</h3>
         <h1>Web Application Developer</h1>
       </div>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <p>Hi! I'm Zach Swanson and I’m a web developer.  I currently work in JavaScript and Python with a bit of PHP, splitting my time between web aplication development and a study of data analytics. </p>
      <p>My web work has focused on app architecture and dev practices, user interface, and interactive client side logic.  With the data, I'm studying statitcs and mathematical analytic techniques with an eye towards machine learning.  I’m also big nerd for data visualization and software design patterns.  </p>
      <p>Before I wrote code, I worked in human resources, and I’ve brought my love  of intelligent systems and human-centric design along with me.  Looking forward to working with you!</p>
    </div>
  </div>
</div>
{% endblock %}
