{% extends "base/base.html" %}

{% block head_styles %}
{%load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'resume/resume-resume.css' %}" />
{% endblock %}

{% block content %}
<div class="container-fluid banner-container">
  <div class="row">
    <div class="col-xs-12 banner">
       <div class="banner-text">
         <h3>Zach j Swanson</h3>
         <h1>Resume</h1>
       </div>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="section skillset">
        <h1>Skillset</h1>
        <div class="">
          <p><span class="title">Client - </span>HTMl 5, CSS/SCSS, and JS scripting: UI development, Single page apps with React and Angular, vendor and library integration, D3 data visualization, and extensive Bootstrap and jQuery</p>
        </div>
        <div class="">
          <p><span class="title">Server - </span>Python and PHP, MVC applications in Django, Laravel and Phalcon, REST api design, templating in Django/Twig/Handlebars, CMS with Wordpress/Drupal/Netlify</p>
        </div>
        <div class="">
          <p><span class="title">Data and Ops - </span>DBs with mySQL, Postgres, and noSQL systems, unit/functional testing with python unittest and phpUnit, Gulp task automation, and some Nginx/VM configuration</p>
        </div>
        <div class="">
          <p><span class="title">Communication - </span>Extensive expereince communicating with business and technical stakeholders across multiple industries. Experienced in conflict management, active listening, and generally being fun to work with.</p>
        </div>
        <div class="">
          <p><span class="title">Adaptability - </span>Quick and adaptive problem solver accustomed to staying calm under pressure.  Practiced in quickly learning complex technical and operational systems on the fly.</p>
        </div>
      </div>
      <div class="section experience">
        <h1>Selected Experience</h1>
        <div class="">
          <h3><span class="title">CloudEngage</span> / Junior Engineer from 6/2017 to 3/2018</h3>
          <h4>Cloud based tool for website personalization</h4>
          <p>Full Stack work on SaaS marketing  application in PHP and JavaScript.  Created user interfaces, interactive feature tours, debugged unmaintained vendor libraries, implemented personalized user onboarding.</p>
        </div>
        <div class="">
          <h3><span class="title">Trupp HR</span> / HR Business Partner from 11/2015 to 11/2016</h3>
          <h4>HR consultancy for small business</h4>
          <p>Primary HR support for clients across multiple industries.  Helped executives create policy, address conflict, and manage the most challenging aspects of their teams.</p>
        </div>
        <div class="">
          <h3><span class="title">New Seasons Market</span> / Multiple Positions from 2007 to 2015</h3>
          <h4>Values driven neighborhood grocer</h4>
          <p>Supported growth and team engagement at high volume location with over 200 staff.  Held roles of HR asst. Manager, Service Manager, and various retail positions.</p>
        </div>
      </div>
      <div class="section education">
        <h1>Education</h1>
        <div class="">
          <h3>Portland State University / B.S. Economics / 2013</h3>
          <h3>Epicodus / Developer Bootcamp / 2017</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="section contact">
        <h1>Contact</h1>
        <div class="">
          <h3>503.679.8499</h3>
          <h3><a href="mailto:zach.j.swanson@gmail.com">zach.j.swanson@gmail.com</a></h3>
          <h3><a href="https://github.com/zjswanson" target="_blank"><i class="fab fa-github fa-2x"></i></a></h3>
          <h3><a href="https://www.linkedin.com/in/zach-swanson/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></h3>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
